<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="soup.map.compose.macrobenchmark.navermap">

    <queries>
        <package android:name="io.sanghun.compose.video.sample"/>
    </queries>

    <application>
        <profileable android:shell="true" />
    </application>
</manifest>
